.container {
	max-width: 950px;
}

body {
	background: #ddd;
	padding-top: 3px;
	padding-bottom: 5px;
}

.header {
	width: 100%;
	background: #d58512;
	min-height: 100px;
	padding: 10px 15px 10px 40px;
}

.header .top {
	color: #fff;
	font-size: 24px;
}

.header .bottom {
	color: #fff;
	font-size: 18px;
}

.container .main {
	background: #fff;
	padding: 15px;
}

.main #search {
	-webkit-box-shadow: 0px 1px 4px 2px rgba(204, 204, 204, 3);
	-moz-box-shadow: 0px 1px 4px 2px rgba(204, 204, 204, 3);
	box-shadow: 0px 1px 4px 2px rgba(204, 204, 204, 3);
	margin-top: 15px;
	margin-bottom: -5px;
}

.main .search input {
	margin-top: 15px;
}

.main .search span {
	font-size: 15px;
}

.main .main1 {
	padding: 25px;
}

.main .main1 .row {
	margin-bottom: 20px;
}

.main .main1 .rec {
	color: #269abc;
	font-size: 18px;
	margin: 15px 0px 15px 15px;
	border-bottom: 2px solid #ccc;
}

.main .main1 .cap {
	margin-left: 15px;
}

.main .main1 .detail {
	border: 2px solid #ccc;
	border-radius: 5px;
	padding: 15px;
	min-height: 310px;
}

.main .main1 img {
	max-width: 80px;
	min-width: 180px;
	border: 2px solid #c77405;
	padding: 5px;
	border-radius: 5px;
	min-height: 180px;
	max-height: 180px;
	transition: 1s;
}

.main .main1 ul {
	padding-left: 5px;
}

.main .main1 ul li {
	list-style: none;
	display: block;
	text-align: left;
}

.main .main1 .cap {
	color: #c77405;
	font-size: 15px;
}

.main .main1 #searched {
	color: #1c94c4;
	font-size: 20px;
}

.main .main1 .cap a.a {
	color: #c77405;
	font-size: 15px;
}

.main .main1 .cap a.a:hover {
	color: #1c94c4;
	font-size: 18px;
}

.main .main1 img:hover {
	-webkit-transform: scale(1.04); /* Safari and Chrome */
	-moz-transform: scale(1.04); /* Firefox */
	-ms-transform: scale(1.04); /* IE 9 */
	-o-transform: scale(1.04); /* Opera */
	transform: scale(1.04);
	border-radius: 5px;
}

.main .main1 .latest {
	border: 2px solid #ddd;
	border-radius: 5px;
	color: #1c94c4;
	padding: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.main .main1 .latest h4 {
	background: #c77405;
	color: #fff;
	text-align: center;
	padding: 7px;
	border-radius: 5px;
	font-size: 20px;
}

.main .main1 .latest ul li {
	list-style: none;
	margin-bottom: 5px;
	font-size: 15px;
}

.main .sorry p {
	color: #b81900;
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 0px;
}

.footer {
	background: #333;
	min-height: 50px;
	padding: 15px;
	color: #fff;
}

/*-----------------------------------------------------*/
.admin {
	background: #fff;
}

.admin-side {
	background: #666;
	padding-left: 45px;
	padding-top: 35px;
}

.admin .add {
	padding: 15px;
	padding-left: 30px;
}

.admin .add h4 {
	color: #269abc;
}

.admin .add input {
	height: 30px;
}

.login {
	background: #fff;
	color: #000;
	border-radius: 5px;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0px 1px 4px 2px rgba(204, 204, 204, 1);
	-moz-box-shadow: 0px 1px 4px 2px rgba(204, 204, 204, 1);
	box-shadow: 0px 1px 4px 2px rgba(204, 204, 204, 1);
}

.login h4 {
	text-align: center;
	margin-bottom: 30px;
}

.login .form-group {
	margin-bottom: 25px;
}

.admin-name {
	background: #d58512;
	color: #fff;
	font-size: 16px;
	padding-top: 20px;
	padding-bottom: 5px;
	padding-right: 10px;
	text-align: right;
	border-top: 2px solid #fff;
}

a:link, a:visited, a:active, a:hover {
	text-decoration: none;
}

a {
	color: #fff;
}
.panel {
	padding-top: 15px;
	background: #428bca;
	padding-left:0px;
	border-radius: 0px;
	height: 475px;
}
.btn-admin {
	border-radius: 0px;
	width: 228px;
	border-color:#428bca;
	text-align: left;
	padding-left: 10px;
	font-weight: bold;
}
.content{
	padding-left: 10px;
}